html {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgb(15, 25, 27);
}

#focus {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  background-color: rgb(140, 226, 252);
}